<footer>
  <p>&copy; 2024 Магазин корги. Все права защищены.</p>
  <p><em>Формула успеха: Любовь + Забота = Здоровый и счастливый корги!</em></p>
  {{#if loadTime}}<div id="load-time">Время загрузки: {{loadTime}}мс</div>{{/if}}
</footer>