<header>
  <img src="../../public/pages/img1/logo.png" alt="logo" width="187" class="cite_logo">
  <h1 class="cute_head">Площадка продажи корги</h1>
  <div>
        <span>Москва, ул. Лапушкина, д.5 | Телефон:
            <a href="моб:+71234567890">+7 (123) 456-78-90</a>
        </span>
  </div>
  {{> menu activePage=activePage menu=menu}}
  <div>
    &nbsp
  </div>
</header>