<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="корги, каталог, купить корги, собаки">
  <meta name="description" content="Каталог наших корги с описаниями и фотографиями.">
  <title>{{title}}</title>
  {{> script-styles}}
</head>
<body>
{{> header}}

<main>
  {{{body}}}
</main>

{{> footer}}
</body>
</html>