<section id="index">
  <h2>О нашем питомнике</h2>
  <p>Мы занимаемся <strong>профессиональным разведением</strong> корги уже более 10 лет. Наши собаки обладают
    всеми необходимыми <em>сертификатами здоровья</em> и наградами с выставок.</p>
</section>
<div class="splide" aria-label="Галерея фотографий">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <img src="../../public/pages/img1/puppy_for_about1.png" alt="Small Photo 1">
      </li>
      <li class="splide__slide">
        <img src="../../public/pages/img1/puppy_for_about.jpg" alt="Small Photo 2">
      </li>
      <li class="splide__slide">
        <img src="../../public/pages/img1/happy_new_year.jpg" alt="New Year Puppy">
      </li>
      <li class="splide__slide">
        <img src="../../public/pages/img1/hollywood.jpg" alt="Hollywood Puppy">
      </li>
    </ul>
  </div>
  <div class="splide__arrows"></div>
  <div class="splide__pagination"></div>
</div>